:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;
    --white: #FFFFFF;
    --greyLight-1: #EBECF0;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
    --textH: #BABECC;
    --text-primary: #58585a;
    --onclick: rgba(235, 99, 117, 0.596);
}

$shadow: .3rem .3rem .6rem var(--greyLight-2),
-.2rem -.2rem .5rem var(--white);
$inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2),
inset -.2rem -.2rem .5rem var(--white);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    overflow-y: scroll;
    background: var(--greyLight-1);
    font-size: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: var(--greyLight-1);
    @media (max-width: 900px) {
        flex-direction: column;
    }
}

.components {
    width: 45rem;
    height: 42rem;
    border-radius: 3rem;
    box-shadow: .8rem .8rem 1.4rem var(--greyLight-2),
        -.2rem -.2rem 1.8rem var(--white);
    padding: 4rem 1rem;
    margin: 10px 13px;
}

.header {
    color: var(--textH);
    text-shadow: 1px 1px 1px var(--white);
    padding: 20px 0;
    text-align: center;
}

.main {
    display: flex;
    justify-content: center;
}

.left-block {
    display: flex;
    flex-direction: column;
    color: var(--text-primary);
    text-shadow: 1px 1px 0 var(--white);
    width: 35rem;
    min-width: 35rem;
}

.switch__container {
    display: flex;
    justify-content: space-evenly;
}

.textlabel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    li {
        list-style-type: none;
        padding-bottom: 10px;
    }
}

.right-block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 35rem;
    color: var(--text-primary);
    text-shadow: 1px 1px 0 #FFF;
    text-align: center;

    h2 {
        color: var(--textH);
    }
}

.custom-checkbox {
    padding: 7px;
    margin-left: 28%;
}

.pass-lenght {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    text-align: center;
    padding-top: 28px;
}

.out {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: .3s ease;

    p {
        cursor: pointer;
        margin-bottom: 25px;

        &:hover {
            color: var(--primary);
            transition: .2s ease;
        }

        &:active {
            transition: .3s ease;
            color: var(--onclick);
            font-weight: bold;
        }
    }
}

checkbox {
    input {
        display: none;
    }

    &__2 {
        width: 6rem;
        display: flex;
        justify-content: center;

        label {
            box-shadow: $shadow;
            cursor: pointer;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: .5rem;
            width: 2.8rem;
            height: 2.8rem;

            &:hover i {
                color: var(--primary);
            }

            i {
                font-size: 1.8rem;
                font-weight: 700;
                color: var(--greyDark);
                transition: .3s ease;
            }
        }

        & input:checked {
            &~label {
                box-shadow: $inner-shadow;

                i {
                    color: var(--primary);
                }
            }
        }
    }
}

.repeat:after {
    content: "\21bb";

}

.btn {
    width: 15rem;
    height: 4rem;
    border-radius: 1rem;
    box-shadow: $shadow;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s ease;

    &__primary {
        background: var(--primary);
        box-shadow: inset .2rem .2rem 1rem var(--primary-light),
            inset -.2rem -.2rem 1rem var(--primary-dark),
            $shadow;
        color: var(--greyLight-1);

        &:hover {
            color: var(--white);
        }

        &:active {
            box-shadow: inset .2rem .2rem 1rem var(--primary-dark),
                inset -.2rem -.2rem 1rem var(--primary-light);
        }
    }

    p {
        font-size: 1.6rem;
    }
}

.slider {
    align-self: center;
    display: flex;
    flex-direction: column;

    &__box {
        width: 100%;
        height: 1rem;
        cursor: pointer;
        box-shadow: $inner-shadow;
        border-radius: 1rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 88px;
        margin-bottom: 60px;
    }

    &__btn {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background: var(--white);
        position: absolute;
        box-shadow: 0px .1rem .3rem 0px var(--greyLight-3);
        z-index: 200;
        display: flex;
        justify-content: center;
        align-items: center;

        &::after {
            content: '';
            position: absolute;
            width: .8rem;
            height: .8rem;
            border-radius: 50%;
            box-shadow: $inner-shadow;
        }
    }

    &__color {
        height: 100%;
        width: 50%;
        position: absolute;
        left: 0;
        z-index: 100;
        border-radius: inherit;
        background: var(--primary);
        background: linear-gradient(-1deg, var(--primary-dark) 0%, var(--primary) 50%, var(--primary-light) 100%);
    }

    &__tooltip {
        position: absolute;
        top: -4rem;
        height: 2.5rem;
        width: 3rem;
        border-radius: .6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        color: var(--primary);
        box-shadow: $shadow;
        // transition: opacity .3s ease;
    }
}


.switch {

    &__param {
        padding-bottom: 13px;
    }

    input {
        display: none;
    }

    &__1,
    &__2,
    &__3,
    &__4 {
        width: 6rem;

        label {
            display: flex;
            align-items: center;
            width: 100%;
            height: 3rem;
            box-shadow: $shadow;
            background: rgba(255, 255, 255, 0);
            position: relative;
            cursor: pointer;
            border-radius: 1.6rem;
            padding: 0;

            &::after {
                content: "";
                position: absolute;
                left: .4rem;
                width: 2.1rem;
                height: 2.1rem;
                border-radius: 50%;
                background: var(--greyDark);
                transition: all .4s ease;
            }

            &::before {
                content: '';
                width: 100%;
                height: 100%;
                border-radius: inherit;
                background: linear-gradient(330deg, var(--primary-dark) 0%, var(--primary) 50%, var(--primary-light) 100%);
                opacity: 0;
                transition: all .4s ease;
            }
        }
    }

    & input:checked {
        &~label {
            &::before {
                opacity: 1;
            }

            &::after {
                left: 57%;
                background: var(--greyLight-1);
            }
        }
    }
}